.ant-layout-sider {
    background-color: #fff;
    .ant-menu{
        .ant-menu-item {
            border: 1px solid #eee;
        }
    }
}
.ant-layout-header {
    color: #fff;
    background: #001529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .Logo {
        font-size: 28px;
    }
}

.mainContent {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}